body
{
	margin:-13px 0 0;
	padding: 13px 0 0;
	height: 100vh;
	background-color: #efefef;
}

form
{
	width:48%;
	min-width: 900px;
	margin:0 auto;
	padding:1vh 1%;
	height:98vh;
	background-color: #fff;
}

form > *
{
	margin:1vh auto;
	display: block;
}

form > span:nth-child(1)
{
	display: block;
	visibility: none;
	height:0;
	padding:0;
	margin: 40vh auto auto;	
}

form > div
{
	width: 180px;
	text-align: center;
}

@media screen and (max-width: 920px)
{
	form
	{
		width: 98%;
		min-width: auto;
	}
}

input
{
	width: 108px;
	outline: none;
}

form span
{
	font-family: Helvetica;
	font-size: 11px;
}

span.copy
{
	position: absolute;
	margin:98vh auto 0;
	font-size: 1.1vh;
	left:45%;
}

canvas {
	position: absolute;
	/*display:none;*/
}