body
{
	margin:-13px 0 0;
	padding: 13px 0 0;
	height: 100vh;
	background-color: #b31d1d;
}

form
{
	width:48%;
	min-width: 900px;
	margin:0 auto;
	padding:1vh 1%;
	height: 98vh;
	background-color: #fff;
	opacity: 0.8;
	box-shadow: 0 0 70px 14px #8C1D1D;
}

form > *
{
	margin:1vh auto;
	display: block;
}

form > span:nth-child(1)
{
	display: block;
	visibility: none;
	height:0;
	padding:0;
	margin: 40vh auto auto;	
}

form > div
{
	width: 180px;
	text-align: center;
}

@media screen and (max-width: 920px)
{
	form
	{
		width: 98%;
		min-width: auto;
	}
}

input
{
	width: 108px;
	outline: none;
}

form span
{
	font-family: Helvetica;
	font-size: 11px;
}

div.copy
{
	position: fixed;
    left: 0;
    right: 0;
    bottom: 1;
    margin-left: auto;
    margin-right: auto;
	font-size: 1em;
	font-family: Helvetica;
	color:#000;
	z-index:999;
	text-align: center;
}

canvas {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	/*display:none;*/
}