body
{
	margin:-13px 0 0;
	padding: 13px 0 0;
	height: 100vh;
	background-image: url('../img/back.png');
}

body *
{
	font-family: Verdana;
}

form
{
	width:48%;
	min-width: 900px;
	margin:0 auto;
	padding:1vh 1%;
	height: 98vh;
	background-color: #fff;
	opacity: 0.8;
	box-shadow: 0 0 70px 14px #7b7b7b;
	background-image: url('../img/logo.bmp');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

form > *
{
	margin:1vh auto;
	display: block;
}

form > div
{
	text-align: center;
}

@media screen and (max-width: 920px)
{
	form
	{
		width: 98%;
		min-width: auto;
	}
}

input[type="text"] {
	width: 50px;
}

input[type="button"],
input[type="text"],
select {
	border-radius: 3px;
	background-color: #fff;
	border: solid 1px blue;
	transition: box-shadow 600ms ease;
}

input[type="button"]:hover,
input[type="text"]:hover,
select:hover {
	box-shadow: 0 0 7px 0 blue inset;
}

input[type="button"]:focus,
input[type="text"]:focus,
select:focus {
	box-shadow: 0 0 7px 0 blue;
}

input[type="file"] {
	width: 108px;
	outline: none;
}

form span
{
	font-family: Helvetica;
	font-size: 11px;
}

div.copy
{
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
	font-size: 1em;
	font-family: Helvetica;
	color:#000;
	z-index:999;
	text-align: center;
	background-color: rgba(0,0,0,.3)
}

canvas {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	/*display:none;*/
}

div#symChange > * {
	display: initial;
	margin:0;
}

div#download {
	position: fixed;
	left:0;
	right:0;
	bottom:80;
	background-color: rgba(235,218,155,.8);
	border-radius: 3px;
	box-shadow: 0 0 30px 4px rgba(235,218,155,.8);
	margin: 0 auto;
	width: 300px;
	z-index: 999;
	text-align: center;
}

span#download-link {
	text-decoration: underline;
	color: #0000FF;
	cursor: pointer;
}

span#download-link:active {
	color: #FF0000;
	cursor: default;
}

#subtitle {
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
}
.column {
	width: 50%;
	float:left;
}